body
{
	background-color: ghostwhite;
	  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

h6
{
    text-decoration: underline;
    padding: 0px;

}

.site_header_style
{
    position:absolute;
    top: 55px; 
    left:400px;
    border: 3px solid ghostwhite; 
    background-color: maroon;
    color: ghostwhite; 


}

/* this class below is being used to style all pargraphs on site, except footer,video description. */

.aboutUscontent
{
position: relative;
left: 0px; 
top: 50px;
max-width: 450px;
padding: 27px;  

}

.nav_bar_style
{

    font-size: 12px;
    font-weight: bold; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    background-color: maroon;
    position: absolute;
    top:0px;
    left: 200px; 
    min-width: 550px;
    min-height: 75px;
    max-width: 725px; 
    max-height: 115px; 
    border: 3px  solid ghostwhite ;
    border-radius: 25px; 

}


.nav_bar_style ul 
{
  padding: 3px 3px  ; 
}

.nav_bar_style  li 
{ 
display: inline; 
padding: 5px; 
}
.nav_bar_style   a 
{
    text-decoration: none;
    color: ghostwhite;
    padding: 3px 3px 3px 3px;
}
 .nav_bar_style  a:visited  
 {
    color: silver;  

}



.nav_bar_style a:hover
{
    
    color: ghostwhite ;
    font-size: 15px; 

}
.link_styling li
{
    display: block;
    padding: 5px;

}
.link_styling a:link
{
    color: forestgreen; 

}
.link_styling a:visited
{
    color: maroon; 
}

#logo
{
    position: absolute;
    top: 0px;
    left: 130px;


}

#logo img:hover
{
    opacity: .5; 

}
 .foot_content_style footer
{
	position: relative;
	bottom: 0px; 
	left: 0px;
	width: 100%; 
	height: 120px;
	background-color: maroon;
	color: white;


}
.items_table table
{
border:2px solid black;

}
.items_table_1
{
background-color: black; 
color:ghostwhite;
}


.items_table_2 
{

background-color: darkgrey; 
color:ghostwhite;


}



